Importing Libraries.

In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

Importing data to Dataframe.

In [130]:
df = pd.read_csv("/content/drive/MyDrive/Data Science Eugene Pinsky/Homework_8/bakery dataset/BreadBasket_DMS_output.csv")
df.head()

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38
2,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38
3,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58
4,2016,10,30,Sunday,morning,10,7,57,3,Jam,10.08

**Questions**

1. a)

In [131]:
#grouping by hour of the day and calcultaing transaction count.
df_busy_hours = df.groupby("Hour")["Transaction"].nunique()

#formatting output dataframe
df_busy_hours = df_busy_hours.to_frame()
df_busy_hours = df_busy_hours.reset_index()
df_busy_hours = df_busy_hours.rename(columns={"Transaction":"Transactions"})

#sorting by highest to lowest transaction count
df_busy_hours = df_busy_hours.sort_values(by=["Transactions"] ,ascending =False)
df_busy_hours = df_busy_hours.reset_index(drop=True)
df_busy_hours.head()

   Hour  Transactions
0    11          1445
1    12          1347
2    10          1267
3    13          1163
4    14          1130

1. b)

In [132]:
#grouping by day of the week and calcultaing transaction count.
df_busy_days = df.groupby("Weekday")["Transaction"].nunique()

#formatting output dataframe
df_busy_days = df_busy_days.to_frame()
df_busy_days = df_busy_days.reset_index()
df_busy_days = df_busy_days.rename(columns={"Transaction":"Transactions"})

#sorting by highest to lowest transaction count
df_busy_days = df_busy_days.sort_values(by=["Transactions"] ,ascending =False)
df_busy_days = df_busy_days.reset_index(drop=True)
df_busy_days

     Weekday  Transactions
0   Saturday          2068
1     Friday          1488
2     Sunday          1264
3   Thursday          1252
4    Tuesday          1203
5     Monday          1135
6  Wednesday          1121

1. c)

In [133]:
#grouping by period of the day and calcultaing transaction count.
df_busy_periods = df.groupby("Period")["Transaction"].nunique()

#formatting output dataframe
df_busy_periods = df_busy_periods.to_frame()
df_busy_periods = df_busy_periods.reset_index()
df_busy_periods = df_busy_periods.rename(columns={"Transaction":"Transactions"})

#sorting by highest to lowest transaction count
df_busy_periods = df_busy_periods.sort_values(by=["Transactions"] ,ascending =False)
df_busy_periods = df_busy_periods.reset_index(drop=True)
df_busy_periods

      Period  Transactions
0  afternoon          5307
1    morning          4110
2    evening           113
3      night             1

2. a)

In [134]:
#grouping by hour of the day and computing revenue.
df_profit_hours = df.groupby("Hour").apply(lambda x: x["Item_Price"].sum())

#formatting output dataframe
df_profit_hours = df_profit_hours.to_frame()
df_profit_hours = df_profit_hours.reset_index()
df_profit_hours = df_profit_hours.rename(columns={0:"Revenue"})

#sorting by highest to lowest revenue generated
df_profit_hours = df_profit_hours.sort_values(by=["Revenue"] ,ascending =False)
df_profit_hours = df_profit_hours.reset_index(drop=True)

#rounding revenue to integer
df_profit_hours["Revenue"] = df_profit_hours["Revenue"].astype(int)
df_profit_hours.head()

   Hour  Revenue
0    11    21453
1    12    19680
2    13    18097
3    10    18068
4    14    17847

2. b)

In [135]:
#grouping by day of the week and finding revenue.
df_profit_days = df.groupby("Weekday").apply(lambda x: x["Item_Price"].sum())

#formatting output dataframe
df_profit_days = df_profit_days.to_frame()
df_profit_days = df_profit_days.reset_index()
df_profit_days = df_profit_days.rename(columns={0:"Revenue"})

#sorting by highest to lowest revenue generated
df_profit_days = df_profit_days.sort_values(by=["Revenue"] ,ascending =False)
df_profit_days = df_profit_days.reset_index(drop=True)

#rounding revenue to integer
df_profit_days["Revenue"] = df_profit_days["Revenue"].astype(int)
df_profit_days.head()

    Weekday  Revenue
0  Saturday    31531
1    Sunday    21495
2    Friday    21200
3  Thursday    17314
4   Tuesday    16331

2. c)

In [136]:
#grouping by period of the day and finding revenue.
df_profit_periods = df.groupby("Period").apply(lambda x: x["Item_Price"].sum())

#formatting output dataframe
df_profit_periods = df_profit_periods.to_frame()
df_profit_periods = df_profit_periods.reset_index()
df_profit_periods = df_profit_periods.rename(columns={0:"Revenue"})

#sorting by highest to lowest revenue generated
df_profit_periods = df_profit_periods.sort_values(by=["Revenue"] ,ascending =False)
df_profit_periods = df_profit_periods.reset_index(drop=True)

#rounding revenue to integer
df_profit_periods["Revenue"] = df_profit_periods["Revenue"].astype(int)
df_profit_periods.head()

      Period  Revenue
0  afternoon    81299
1    morning    56986
2    evening      972
3      night        3

  3.

Most popular item: Coffee.

In [137]:
#grouping by item name and calculating transaction count.
df_popular_items = df.groupby("Item")["Transaction"].count()

#formatting output dataframe
df_popular_items = df_popular_items.to_frame()
df_popular_items = df_popular_items.reset_index()
df_popular_items = df_popular_items.rename(columns={"Transaction":"Transactions"})

#sorting by highest to lowest transaction count
df_popular_items = df_popular_items.sort_values(by=["Transactions"] ,ascending =False)
df_popular_items = df_popular_items.reset_index(drop=True)
df_popular_items.head(3)

     Item  Transactions
0  Coffee          5471
1   Bread          3325
2     Tea          1435

Least popular items - There are multiple items that are the least popular with a single transaction each, and are all listed below:

In [138]:
df_popular_items = pd.DataFrame()
#grouping by hour of the day and calcultaing transaction count.
df_popular_items = df.groupby("Item")["Transaction"].count()

#formatting output dataframe
df_popular_items = df_popular_items.to_frame()
df_popular_items = df_popular_items.reset_index()
df_popular_items = df_popular_items.rename(columns={"Transaction":"Transactions"})

#sorting by highest to lowest transaction count
df_popular_items = df_popular_items.sort_values(by=["Transactions"] ,ascending =False)
df_popular_items = df_popular_items.reset_index(drop=True)
df_popular_items.tail(8)

              Item  Transactions
87           Bacon             1
88         Polenta             1
89        The BART             1
90    Chicken sand             1
91    Gift voucher             1
92  Olum & polenta             1
93        Raw bars             1
94      Adjustment             1

4.

In [139]:
#creating a unique code for each day representing the date of each weekday to count unique days of the week.
df["unique_day_code"] = df["Year"].astype(str) + df["Month"].astype(str) + df["Day"].astype(str)

#counting total number of weekdays in the data
df_day_count = df.groupby("Weekday")["unique_day_code"].nunique()

#code to format output
df_day_count= df_day_count.to_frame()
df_day_count = df_day_count.reset_index()
df_day_count = df_day_count.rename(columns={"unique_day_code":"Number of Days"})

#getting count of unique transactions for each weekday
df_trans_count = df.groupby("Weekday")["Transaction"].nunique()
df_trans_count = df_trans_count.to_frame()
df_trans_count = df_trans_count.reset_index()

#merging dataframes to have both transactions and number of days
df_q4 = pd.merge(df_day_count,df_trans_count,on="Weekday")

#Finding Number of Baristas required for each weekday.
df_q4["Average Transactions"] = df_q4["Transaction"]/df_q4["Number of Days"]
df_q4["Barista Count"] =  np.ceil(df_q4["Average Transactions"] / 50) 

df_q4[["Weekday","Barista Count"]].head(7)

     Weekday  Barista Count
0     Friday            2.0
1     Monday            2.0
2   Saturday            2.0
3     Sunday            2.0
4   Thursday            2.0
5    Tuesday            2.0
6  Wednesday            1.0

5.

In [140]:
#loading item grouping csv that contains the mapping of each item to a group(Food,Drink or Unknown)
df2 = pd.read_csv("/content/drive/MyDrive/Data Science Eugene Pinsky/Homework_8/bakery dataset/BreadBasket_DMS_item_grouping.csv")
df2 = df2.rename(columns={"Item ":"Item"})

#Creating a merged dataframe with group column.
df3 = pd.merge(df,df2,on="Item")
df3 = df3.sort_values(by="Transaction")

#grouping by Item group and calcultaing mean/average price.
df_group_average = df3.groupby("Group")["Item_Price"].mean()

#formatting output dataframe
df_group_average = df_group_average.to_frame()
df_group_average = df_group_average.reset_index()

#rounding average price
df_group_average["Item_Price"] = df_group_average["Item_Price"].round(decimals=2)
df_group_average = df_group_average.rename(columns={"Item_Price":"Average Price"})
df_group_average.head(2)

   Group  Average Price
0  Drink           8.41
1   Food           4.60

6.

In [141]:
#grouping by hour of the day and calcultaing transaction count.
df_group_revenue = df3.groupby("Group")["Item_Price"].sum()
df_group_revenue = df_group_revenue.to_frame()
df_group_revenue = df_group_revenue.reset_index()
df_group_revenue["Item_Price"] = df_group_revenue["Item_Price"].astype(int)
df_group_revenue = df_group_revenue.rename(columns={"Item_Price":"Revenue"})
df_group_revenue["Revenue"] = df_group_revenue["Revenue"].astype(int)
df_group_revenue.head(2)

   Group  Revenue
0  Drink    69532
1   Food    46268

7.

In [142]:
#grouping items by Weekday and counting unique transactions
df_7_week = df.groupby(["Weekday","Item"])["Transaction"].nunique()
df_7_week = df_7_week.to_frame()
df_7_week= df_7_week.reset_index()

#filtering by day of the week and storing it in seperate dataframes for each day
df_7_sunday = df_7_week[df_7_week["Weekday"]=="Sunday"]
df_7_sunday = df_7_sunday.sort_values(by="Transaction",ascending=False)

df_7_monday = df_7_week[df_7_week["Weekday"]=="Monday"]
df_7_monday = df_7_monday.sort_values(by="Transaction",ascending=False)

df_7_tuesday = df_7_week[df_7_week["Weekday"]=="Tuesday"]
df_7_tuesday = df_7_tuesday.sort_values(by="Transaction",ascending=False)

df_7_wednesday = df_7_week[df_7_week["Weekday"]=="Wednesday"]
df_7_wednesday = df_7_wednesday.sort_values(by="Transaction",ascending=False)

df_7_thursday = df_7_week[df_7_week["Weekday"]=="Thursday"]
df_7_thursday = df_7_thursday.sort_values(by="Transaction",ascending=False)

df_7_friday = df_7_week[df_7_week["Weekday"]=="Friday"]
df_7_friday = df_7_friday.sort_values(by="Transaction",ascending=False)

df_7_saturday = df_7_week[df_7_week["Weekday"]=="Saturday"]
df_7_saturday = df_7_saturday.sort_values(by="Transaction",ascending=False)

df_7_sunday.head(6)

    Weekday       Item  Transaction
216  Sunday     Coffee          646
208  Sunday      Bread          438
263  Sunday        Tea          163
211  Sunday       Cake          161
249  Sunday       NONE          130
243  Sunday  Medialuna          128

In [143]:
df_7_monday.head()

    Weekday      Item  Transaction
77   Monday    Coffee          571
72   Monday     Bread          338
117  Monday       Tea          185
107  Monday    Pastry           96
110  Monday  Sandwich           89

In [144]:
df_7_tuesday.head()

     Weekday    Item  Transaction
350  Tuesday  Coffee          597
343  Tuesday   Bread          331
387  Tuesday     Tea          178
346  Tuesday    Cake          131
378  Tuesday  Pastry          115

In [145]:
df_7_wednesday.head(6)

       Weekday    Item  Transaction
411  Wednesday  Coffee          533
403  Wednesday   Bread          376
454  Wednesday     Tea          178
406  Wednesday    Cake          118
439  Wednesday    NONE          104
442  Wednesday  Pastry          101

In [146]:
df_7_thursday.head()

      Weekday    Item  Transaction
286  Thursday  Coffee          578
278  Thursday   Bread          421
330  Thursday     Tea          170
281  Thursday    Cake          138
318  Thursday  Pastry          114

In [147]:
df_7_friday.head()

   Weekday      Item  Transaction
12  Friday    Coffee          705
5   Friday     Bread          487
58  Friday       Tea          207
51  Friday  Sandwich          120
8   Friday      Cake          115

In [148]:
df_7_saturday.head(6)

      Weekday    Item  Transaction
139  Saturday  Coffee          898
131  Saturday   Bread          706
190  Saturday     Tea          269
133  Saturday    Cake          233
173  Saturday    NONE          191
176  Saturday  Pastry          160

8.

In [149]:
df_7_sunday.tail()

    Weekday                           Item  Transaction
260  Sunday                         Spread            1
227  Sunday                      Empanadas            1
222  Sunday     Drinking chocolate spoons             1
252  Sunday  Raspberry shortbread sandwich            1
217  Sunday               Coffee granules             1

In [150]:
df_7_monday.tail()

    Weekday                        Item  Transaction
83   Monday              Dulce de Leche            1
82   Monday  Drinking chocolate spoons             1
81   Monday                      Crisps            1
76   Monday                  Chocolates            1
102  Monday              Mighty Protein            1

In [151]:
df_7_tuesday.tail()

     Weekday                        Item  Transaction
353  Tuesday  Drinking chocolate spoons             1
348  Tuesday                  Chocolates            1
344  Tuesday               Bread Pudding            1
342  Tuesday               Bowl Nic Pitt            1
395  Tuesday            Victorian Sponge            1

In [152]:
df_7_wednesday.tail()

       Weekday                   Item  Transaction
417  Wednesday               Duck egg            1
414  Wednesday                 Crepes            1
407  Wednesday  Cherry me Dried fruit            1
402  Wednesday           Bare Popcorn            1
461  Wednesday       Victorian Sponge            1

In [153]:
df_7_thursday.tail()

      Weekday                Item  Transaction
328  Thursday              Spread            1
279  Thursday  Brioche and salami            1
316  Thursday           Nomad bag            1
273  Thursday     Argentina Night            1
309  Thursday   Lemon and coconut            1

In [154]:
df_7_friday.tail()

   Weekday                           Item  Transaction
39  Friday                 Mighty Protein            1
37  Friday              Lemon and coconut            1
28  Friday                        Granola            1
29  Friday            Half slice Monster             1
49  Friday  Raspberry shortbread sandwich            1

In [155]:
df_7_saturday.tail()

      Weekday                    Item  Transaction
148  Saturday  Ella's Kitchen Pouches            1
170  Saturday                Mortimer            1
150  Saturday             Fairy Doors            1
166  Saturday       Lemon and coconut            1
199  Saturday        Victorian Sponge            1

9.

In [156]:
df3 = df3.reset_index(drop=True)

#Counting number of items in each group
df_q9_1 = df3.groupby("Group")["Group"].count()
df_q9_1 = df_q9_1.to_frame()
df_q9_1 = df_q9_1.rename(columns={"Group":"Total"})
df_q9_1 = df_q9_1.reset_index()

#Counting unique transactions for each group
df_q9_2 = df3.groupby("Group")["Transaction"].nunique()
df_q9_2 = df_q9_2.to_frame()
df_q9_2 = df_q9_2.rename(columns={"Transaction":"Transactions"})
df_q9_2 = df_q9_2.reset_index()

df_q9_3 = pd.merge(df_q9_1,df_q9_2,on="Group")

#Computing items per transaction for all groups
df_q9_3["Items per transaction"] = df_q9_3["Total"]/df_q9_3["Transactions"]
df_q9_3["Items per transaction"] = df_q9_3["Items per transaction"].apply(lambda x: math.ceil(x))
df_q9_3[["Group","Items per transaction"]].head(1)

   Group  Items per transaction
0  Drink                      2